body {
    font-family: Courier, sans-serif;
}

.content-wrapper {
    margin: 25px;
}

#mainNav {
    background-color: #4CAF50 !important;
    padding: 0% 2%;
    margin-bottom: 25px;
}

.schema {
    font-size: 0.85em;
}

.page-title {
    font-size: 24pt;
    padding-bottom:25px;
}

.card {
    margin-bottom: 25px;
    padding: 1%;
}

.narrow-centered {
    margin: 1% auto auto;
}

.table-responsive {
    max-height: 300px;
    overflow-y: auto;
}

#stepExplanationText {
    background-color: yellow;
}

th {
    position: sticky;
    top: 0;
    box-shadow: 0 0 0 1px #000000;
    background: #FFFFFF;
}

#currentDatabase {
    margin-bottom: 25px;
}